[Unit]
Description=gatherd background package installation
After=network-online.target nss-lookup.target gatherd.service
Wants=network-online.target nss-lookup.target
ConditionPathExists=/usr/local/lib/gatherd/site-slow.yml
ConditionPathExists=/etc/gatherd-complete
ConditionPathExists=!/etc/gatherd-slow-complete

[Service]
Type=oneshot
ExecStart=systemd-inhibit --what=sleep --who=gatherd-slow --why="Background package installation in progress" --mode=block \
    ansible-playbook /usr/local/lib/gatherd/site-slow.yml
RemainAfterExit=no
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
